*~
*.bib.bak
*.bat
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
report.pdf
root.pdf
*.run.xml
*.sty
*.synctex.gz
*.toc
*.doc
*.docx
*.xls
*.xlsx
*.ppt
#*.pptx
*.mex*
*.zip
*.rar
*.tar.gz
*.dll
*.mat
bin/
slprj/
*.mdl.*
*.slxc
*.slx
*.obj
*.meta
*.unity
*.unitypackage
*.sln
*.csproj
UpperLimbVRUnity/.vs/*
UpperLimbVRUnity/Assets/BONES/*
UpperLimbVRUnity/Assets/Content/*
UpperLimbVRUnity/Assets/HumanLayers/*
UpperLimbVRUnity/Assets/MUSCLES/*
UpperLimbVRUnity/Assets/MonitorObject/*
UpperLimbVRUnity/Assets/OutOfDate/*
UpperLimbVRUnity/Assets/OBJExport/*
UpperLimbVRUnity/Library/*
UpperLimbVRUnity/Packages/*
UpperLimbVRUnity/ProjectSettings/*
UpperLimbVRUnity/Temp/*
UpperLimbVRUnity/obj/*